head{
    background-color: aquamarine;
}
body{
    background-color: rgba(255, 255, 255, 0.733);
}


h1  {
    font-family:Arial,Helvetica,sans-serif;
    font-size: 18;
    color: rgb(255, 8, 0);
    
    }
    #HomePage p{
        text-align:right;
        margin: 0 auto;
    
    }
    p{
        margin: 0 auto;
    padding: 0 auto;
        
    }
h2 {
    text-align: center;
    color: rgb(175, 12, 12);
    width: 100%;
margin: 0 auto;}
 h3{
    
    margin: 0 auto;
    padding: 0 auto;
    
}
a{
    color: black;
}
.main-header{
    background-color: rgb(85, 140, 202);
    padding: 20px;
    text-align: left;
}
.main-header h1, .main-header h3{
    margin: 0;
    padding: 10px;
    display: inline;

}
.credentials{
    text-align: right;
}
#Main h2{
    text-align: left;
}
main p{
    font-family:Arial,Helvetica,sans-serif;
    font-size: 12;
    margin: 0 auto;
    text-align:left;
}
#home-header{
    background-color: blueviolet;
}
#Origin{
    background-color: bisque;
}
#Origin p{
    font-family:Arial,Helvetica,sans-serif;
    font-size: 12;
    margin: 0 auto;
    text-align:center;
    

}

#Origin h2{
    width: 100%;
    color: rgb(61, 12, 175);

}

#Signatures{
    background-color: bisque;
}
#Signatures p{
    font-family:Arial,Helvetica,sans-serif;
    font-size: 12;
    margin: 0 auto;

}

#Recipe p{
    font-family:Arial,Helvetica,sans-serif;
    font-size: 12;
    margin: 0;
    text-wrap:initial;
    width: 50%;

}
#Recipe img{
    width: 10%;
    height: 40%;
   
    margin: 5px;
}

#recipe{
    display: flex;
    flex-wrap: wrap;
}
#Recipe h2{
    width: 0;
    color: rgb(175, 12, 153);
    margin: 0;
    padding: 0;

}
#Recipe h3{
    margin: 0;
    padding: 0;
    width: 0;

}

#Recipe1  {
    background-color: rgba(52, 69, 105, 0.397);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    margin: 0px ;
    padding-top: 20px;
    width: 100%;
}
.description{
    font-family:Arial,Helvetica,sans-serif;
    font-size: 12;
    margin: 0;
    text-wrap:initial;
    width: 20%;
    text-align: left;
    align-items:start;
}
#Recipe1 .description{
    width:100%;
}
/* #Recipe1 .ingredient-list{
    align-items: right;
    margin: 0;
    width: 15%;
    position:sticky;
    left: 410px;;
    bottom: 640px;
} */
#ingredient{
    align-items: right;
    margin: 0;
    width: 15%;
    position:sticky;
    left: 410px;;
    bottom: 640px;
}
#Recipe1 h2{
    color: blueviolet;


}
#Recipe2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    margin: 0 ;
    padding-top: 20px;
}
#Recipe2 h2{
    color: goldenrod;
} 
#Recipe3{
    background-color: rgba(52, 69, 105, 0.397);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    margin: 0 ;
    padding-top: 20px;
}
 #Recipe3 h2{
    color: thistle;
} 
.recipe p{
    padding: 10px;

}
.recipe img, .recipe p{
display: inline;
}
 .Equipments{
    text-align:center;
}
.image{
    
    align-items:top;
    max-width: 100%;
    height: auto;
    object-fit: fill;
    
   
}
.ingredient-list{
    border-style:solid ;
}
.instructions{
    border-style:dashed;
    width:100% ;
}
#cooking-step{
    width:100% ;

}
/* .Equipments{
    border-style: dotted;
} */